@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@keyframes rippleGrowFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.ripple-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.ripple-container > div {
  animation: rippleGrowFade 3s infinite ease-out;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
}

.ripple-container > div:nth-child(1) {
  animation-delay: 0s;
}

.ripple-container > div:nth-child(2) {
  animation-delay: 1s;
}

.ripple-container > div:nth-child(3) {
  animation-delay: 2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-fade-in {
  animation: fadeInUp 0.5s ease-out both;
}
